body {
    margin: 0;
    text-align: center;
    font-family: Arial;
    background: #5c94fc;
    overflow: hidden;
}

h1 {
    color: white;
    text-shadow: 2px 2px black;
}

.game {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 300px;
    margin: auto;
    overflow: hidden;
    background: linear-gradient(#5c94fc 70%, #d8a45d 70%);
    border-bottom: 8px solid #8b4513;
}

/* NUBES */
.cloud {
    position: absolute;
    width: 80px;
    height: 40px;
    background: white;
    border-radius: 50px;
}

.cloud::before,
.cloud::after {
    content: "";
    position: absolute;
    background: white;
    border-radius: 50%;
}

.cloud::before {
    width: 40px;
    height: 40px;
    top: -20px;
    left: 10px;
}

.cloud::after {
    width: 50px;
    height: 50px;
    top: -25px;
    right: 10px;
}

.cloud1 {
    top: 40px;
    animation: moveCloud 30s linear infinite;
}

.cloud2 {
    top: 90px;
    animation: moveCloud 45s linear infinite;
}

@keyframes moveCloud {
    from { left: 100%; }
    to { left: -100px; }
}

/* JUGADOR */
#player {
    width: 40px;
    height: 60px;
    background: red;
    position: absolute;
    bottom: 60px;
    left: 50px;
    border-radius: 5px;
}

/* SUELO */
.ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: #8b4513;
}

/* OBSTÁCULOS */
.obstacle {
    width: 40px;
    height: 40px;
    background: #b5651d;
    position: absolute;
    bottom: 60px;
}

/* BOTÓN */
.controls {
    margin-top: 15px;
}

button {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
}

#message {
    font-weight: bold;
    font-size: 18px;
}
