body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(#5c94fc, #cce6ff);
    text-align: center;
}

.game {
    width: 100%;
    height: 60vh;
    overflow: hidden;
    position: relative;
    border: 3px solid black;
    background: #87CEEB;
}

.world {
    position: absolute;
    width: 3500px;
    height: 100%;
}

 #player {
    position: absolute;
    width: 120px;              /* tamaño visible en el juego */
    height: 240px;             /* mantiene proporción 1:2 */
    background-image: url("./soldado-sprite.png");
    background-repeat: no-repeat;
    background-size: 360px 240px; 
    bottom: 0;
    left: 100px;
}
.platform {
    position: absolute;
    width: 200px;
    height: 20px;
    background: brown;
}

.controls {
    margin-top: 15px;
}

button {
    font-size: 24px;
    padding: 10px 15px;
    margin: 5px;
}
