body {
    margin: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(#5c94fc 70%, #d8a45d 70%);
    overflow-x: hidden;
}

h1 {
    color: white;
    text-shadow: 2px 2px black;
}

.game-container {
    width: 95%;
    max-width: 900px;
    height: 220px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border-bottom: 8px solid #8b4513;
}

/* PERSONAJE */
#player {
    width: 40px;
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* cuerpo */
#player::before {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    background: red;
    bottom: 0;
    border-radius: 5px;
}

/* cabeza */
#player::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ffcc99;
    top: 0;
    left: 5px;
    border-radius: 50%;
}

.name {
    position: absolute;
    top: -20px;
    width: 100%;
    font-size: 12px;
    color: white;
    text-shadow: 1px 1px black;
}

/* OBSTÁCULOS */
.obstacle {
    width: 50px;
    height: 50px;
    background: #b5651d;
    position: absolute;
    bottom: 0;
    border: 3px solid #8b4513;
}

/* BOTONES */
.controls {
    margin-top: 15px;
}

.controls button {
    padding: 15px 25px;
    margin: 5px;
    font-size: 22px;
    border: none;
    border-radius: 10px;
    background: #222;
    color: white;
}

.controls button:active {
    transform: scale(0.95);
}

#message {
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px black;
}

/* Responsive */
@media (max-width: 600px) {
    .controls button {
        width: 30%;
    }
}
